@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family:Roboto;
}

.welcome-body{
  position:fixed ;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100vw;
  height: 1000vh;
  background-color: #DD1C2D;
  display: flex;
  justify-content: center;
}

.login-container{
  margin-top: 50px;
  width: 50%;
  height: 70vh;
  background-color: white;
  box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.49);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items:center;
}

.logo{
  width: 150px;
  height: 150px;
  background-image: url("./media/logo_art_cent.png");  
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}

.login-body{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.navbar {
    background-color: grey;
    color: white;
  }
  
  .navbar a, .navbar-brand {
    color: white;
    text-decoration: none;
    font-family:Roboto;
    margin-right: 30px;
  }

  .navbar-nav{
    display: flex;
    list-style: none;
  }
  
.navbar-top{
  position:fixed;
  top:0px;
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DD1C2D;
  z-index: 3;
  box-shadow: 2px 5px 10px -4px rgba(0,0,0,0.77);
}

  .logo-title{
    background-image: url("./media/logo_components/logo_title_white.png");
    width: 293px;
    height: 35px;
  }

  .logo-house{
    position: absolute;
    top: 70px;
    left: 20px;
    background-image: url("./media/logo_components/logo_house_white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 151px;
    height: 94px;
  }

  .logo-subtitle{
    background-image: url("./media/logo_components/logo_subtitle_white.png");
    width: 219px;
    height: 20px;
    position: absolute;
    top: 70px;
  }


.navbar-bottom{
  margin-top: 50px;
  width: 100%;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  background-color: #DD1C2D;
  align-items: center;
}

  

.body{
  position: absolute;
  top: 150px;
  left: 10%;
  height: auto;
  width: 80%;
  background-color: white;
  box-shadow: -4px 10px 32px -4px rgba(0,0,0,0.7);
}

.homeArticle{
  color: white;
  width: 100%;
  height: 400px;
  background-image: url("./media/home_article_image.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

.productContainer{
  display: flex;
  justify-content: center;
}

  .productCard{
    height: 150px;
    width: 150px;
    background-color: bisque;
    margin: 20px;
    list-style: none;
    border: grey solid 1px;
    border-radius: 5px;
    transition: all 2s;
  }

  .productDetailContainer{
    height: 80%;
    width: 80%;
    background-color: bisque;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: grey solid 1px;
    border-radius: 5px;
    transition: all 2s;
  }

  .nav-item:hover, .navbar-brand:hover{
    text-decoration: underline;
    transform: scale(1.05);
  }