.navbar {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .container {
    padding: 20px;
  }